tests
.github
.pre-commit-config.yaml
.git
.mypy_cache
.ruff_cache
.venv
.coverage
.env
.gitignore
.venv
secrets
attachments
__pycache__
database.json
.terraform
*.tar
*.tar.gz
data
.aider*
.vscode
.DS_Store
research
